<table>
    <thead>
    <tr>
        <% if (submissions.length > 0) { %>
            <% Object.keys(submissions[0].data).forEach(field => { %>
                <th><%= field %></th>
            <% }) %>
        <% } %>
    </tr>
    </thead>
    <tbody>
    <% submissions.forEach(submission => { %>
        <tr>
            <% Object.values(submission.data).forEach(value => { %>
                <td><%= value %></td>
            <% }) %>
        </tr>
    <% }) %>
    </tbody>
</table>
